[
  {
    "scope": "https://api.stitchdata.com:443",
    "method": "POST",
    "path": "/v2/import/validate",
    "body": [
      {
        "table_name": "table",
        "data": {
          "key_for_upsert": 1,
          "n": 2
        },
        "key_names": [
          "key_for_upsert"
        ],
        "sequence": 1589572595713,
        "action": "upsert",
        "client_id": 123456
      }
    ],
    "status": 200,
    "response": {
      "status": "OK",
      "message": "Batch is valid!"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  }
]
